# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.spec

# Logs
logs/
*.log

# Archivos temporales
*.tmp
winlog.txt

# Archivos compilados
*.exe

# Recursos
*.png
*.jpg
*.ico

# Carpeta Texto
Texto/

# VSCode
.vscode/